{% extends "layout.html" %}

{% block title %}
	Viewing Student Details
{% endblock %}

{% block main %}
	{% if students|length < 1 %}
		<h3>Nothing to see here :(</h3>
		<p>You probably haven't added any students yet!</p>
	{% else %}
		{% for student in students %}
			<div class="container">
				<div class="row">
					<div class="col-md-6"><h2>{{ student.first_name + " " + student.last_name }}</h2></div>
				</div>

				<div class="row">
					<div class="col-md-4">
						<h3><small>{{ student.class_id }} &ndash; {{ student.email or "<em>No E-mail provided</em>" }}</small></h3>
					</div>
				</div>

				<button class="btn btn-info">See Details</button>
				<hr/>
			</div>
		{% endfor %}
	{% endif %}
{% endblock %}