{% extends "layout.html" %}

{% block title %}
	Viewing Student Details
{% endblock %}

{% block main %}
	{% if students|length < 1 %}
		<h3>Nothing to see here :(</h3>
		<p>You probably haven't added any students yet!</p>
	{% else %}
		{% for student in students %}
			<div class="container">
				<div class="row">
					<div class="col-md-6 text-capitalize"><h2>{{ student.first_name + " " + student.last_name }}</h2></div>
				</div>

				<div class="row">
					<div class="col-md-4">
						<h3><small>{{ classes[student.class_id - 1].name }} &ndash; {{ student.email or "<em>No E-mail provided</em>"|safe }}</small></h3>
					</div>
				</div>

				<a href="{{ url_for('organization_students', handle=handle, action='view', student_id=student.id) }}">
					<button class="btn btn-info">See Details</button>
				</a>
				<hr/>
			</div>
		{% endfor %}
	{% endif %}
{% endblock %}