<h2>Guide</h2>

<h3>Table of Contents</h3>
<ol>
	<li><a href="#getting-started">Getting Started</a></li>
	<li><a href="#manage">How to Manage?</a></li>
	<li>Changing Account Settings</li>
	<li>Deleting Organization</li>
</ol>

<h2 id="getting-started">Getting Started</h2>
<p>To get the most out of MyAcademiaStudio, you will need to follow these steps:</p>

<h3>Creating a New Organization</h3>
<p>Creating an organization helps to keep all of your data under one roof. So it is necessary to create an organization before doing anything else. To create one, follow these steps:</p>
<ol>
	<li>Go to your dashboard (if you are reading this, chances are you are already in your dashboard).</li>
	<li>Click on <strong>Create New Organization</strong> button, on the left-side menu.</li>
	<li>Fill in the form.</li>
	<li>Click on <strong>Create</strong> button.</li>
</ol>

<h3>Add Subjects</h3>
<p>In most cases, an educational institute is known for the subjects or courses it teaches. Some are even famous for specific subjects, courses or degrees they offer. So the first thing you need to do is to add subjects, courses or whatever it is that will be taught in your classes. Follow these steps:</p>
<ol>
	<li>From your dashboard, click on <strong>My Organizations</strong> tab, on the right-side.</li>
	<li>From the list of your organizations, click on the one whose subjects you wish to add. You will be sent to that organization's dashboard.</li>
	<li>Now click on <strong>Add New Subject(s)</strong>, under <strong>Subjects</strong> section.</li>
	<li>Set the number of subjects you wish to add, then fill in the form.</li>
	<li>Click on <strong>Add</strong> button.</li>
</ol>

<h3>Create a Class</h3>
<p>This is the first step you need to take after creating an organization. If you don't create at least one class, you won't be able to add any students.</p>
<p>You can create as many classes as you want. Remember that each section of the same class (e.g: Class 7 - A, Class 7 - B) will be added as a separate class. To create one, follow these steps:</p>
<ol>
	<li>From your dashboard, click on <strong>My Organizations</strong> tab, on the right-side.</li>
	<li>From the list of your organizations, click on the one whose class you wish to add. You will be sent to that organization's dashboard.</li>
	<li>Now click on <strong>Create New Class(es)</strong>, under <strong>Classes</strong> section.</li>
	<li>Set the number of classes you wish to create, then fill in the form.</li>
	<li>Click on <strong>Create</strong> button.</li>
</ol>

<h3>Add Students</h3>
<p>Now that you have create at least one class, you can start adding students. This will enable you to keep track of their performance (through tests) and whether they are paying the dues. To start adding students, follow these steps:</p>
<ol>
	<li>From your dashboard, click on <strong>My Organizations</strong> tab, on the right-side.</li>
	<li>From the list of your organizations, click on the one whose class you wish to add. You will be sent to that organization's dashboard.</li>
	<li>Now click on <strong>Add New Student(s)</strong>, under <strong>Students</strong> section.</li>
	<li>Set the number of students you wish to create, then fill in the forms.</li>
	<li>Click on <strong>Add</strong> button.</li>
</ol>
<p>You can add at most 20 students at a time. It is recommended that you keep the size of a class upto 40 students. If you have around 55 students in one class, you should consider creating another class.</p>

<h3>Fee Submission</h3>
<p>Ofcourse, you would also want to keep track of the students who have or haven't paid fees.</p>

<h2 id="manage">How to Manage</h2>
<p>Lorem Ipsum Consit...</p>